@font-face {
    font-family: 'Work Sans';
    src: url('./work-sans-latin.woff2') format('woff2');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('./crimson-pro-latin.woff2') format('woff2');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}
